@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Pacifico&family=Shrikhand&display=swap');
.header{
    font-family: 'Fredoka One', cursive;
    color: #edca24;
    -webkit-text-stroke: 1px #458fb4;
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: auto;
    background: #7bb4d2;

}
.logo{
    font-family: 'Shrikhand', cursive;
    -webkit-text-stroke: 2px #458fb4;
    font-size: 50px;
    transition: 1s;
}
.logo:hover{
    cursor: pointer;
    font-size: 53px;
}
#Home{
    margin-left: 12%
}
.headerTab{
    transition: .5s;
}
/* .headerTabs{
    align-self: center;
    padding: 7px;
    border-radius: 7px;
    background: skyblue;
    transition: 0.3s ease;
    width: 65px;
    text-align: center;
    margin-left: 5%;
} */
.headerTab:hover{
    -webkit-text-stroke: 2px #458fb4;
    cursor: pointer;
    margin: 5px;
    font-size: larger;
}
#content{
    width: 100%;
    height: 100%;
    background-color: cadetblue;
}
#footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #458fb4;
}
.footerTabs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;

}
#conBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100%;
    position: relative;
    
}
#pageBody{
    width: auto;
    height: 573px;
    background-color: #e2edf3;
}
.landingImg{
    width: 400px;
    height: 400px;
    /* margin-top: 50px; */
    margin-left: 120px;
    background: url('./images/homejuice.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25%;
    box-shadow: 16px 9px lightpink;
    transition: .5s;
}
.landingImg:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#welcome{
    text-align: center;
    color: lightpink;
    font-family: 'Shrikhand', cursive;
    -webkit-text-stroke: 2.5px #458fb4;
    font-size: xxx-large;
    position: absolute;
    top: 13%;
    right: 6%;
    width: 44%;
}
#welcome2{
    font-size: x-large;
    color: #458fb4;
    -webkit-text-stroke: 0px #458fb4;
}
#bullets{
    font-size: large;
    margin-top: 10px;
    line-height: 50px;
}
.material-icons{
    position: relative;
}
#check{
    top: -140px;
    right: 11%;
}
#check1{
    top: -89px;
    right: 16%;
}
#check2{
    top: -38px;
    right: 21%;
}
/* .genInfo{
    margin: auto;
    width: 70%;
    height: 80%;
    background-color: lightpink;
    
} */
.contentParent{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #e2edf3;
}

#menuList,
.genInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 70%;
    height: 80%;
    background-color: lightpink;
    border: 7px solid #458fb4;
    border-radius: 10%;
    
}
#menuLogo,
#contactLogo{
    font-family: 'Shrikhand', cursive;
    height: 5%;
    margin: 10px 55px;
    color: #edca24;
    -webkit-text-stroke: 2.5px #458fb4;
    font-size: xxx-large;
}
.infoList{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10% 0% 0% 30%;
    font-family: 'Fredoka One', cursive;
    font-size: x-large;
    color: #458fb4;
    
}

    

#phoneIcon,
#locationIcon,
#emailIcon{
    position: relative;
    font-size: xxx-large;
    right: 66%;
    top: 82px;
}
#locationIcon{
    right: 76%;
    top: 204px;
}
#emailIcon{
    right: 86%;
    top: 341px;
}
#menuItems{
    display: flex;
    width: 80%;
    height: 60%;
}
.drinks{
    width: 30%;
    height: 100%;
    font-size: large;
    color: white;
    font-weight: bolder;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid;
    transition: 0.5s;
}
.drinks:hover{
    width: 35%;

}
#clearJuice{
    background: url(./images/cleardrink.jpg);
}
#mangoJuice{
    background: url(./images/mangodrink.jpg);
}

#blueJuice{
    background: url(./images/bluedrink.jpg);
}
#clearJuice,
#mangoJuice,
#blueJuice{
    margin: 0px 15px;
    background-repeat: no-repeat;
    background-size: cover;
}
#footer{
    color: #cfe9f7; 
}
#fHome,
#fMenu,
#fContact:hover{
    cursor: pointer;
}
#fHome,
#fMenu,
#fContact{
    width: 83px;
}